.iFrmCssFullScreenBth{
    position: absolute;
    top: 1px;
    right: 1px;
    height: 33px;
    cursor: pointer;
}
.iFrmCssFullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0;
    border:none;
    background-color:white;
}
.tocText:hover {
    background-color: rgb(209, 155, 89);
    color:rgb(108, 101, 101);
    /*cursor: pointer;*/
    
 }
.footerBarText{
    text-align: center;
  }
.actionHgroup{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.accSectionHeader{
  color: red;
  font-size: 50px;
}
.accItem{
  border-top: 1px solid lightgray;
}

.tabData{
  color: black;
}

.tabDataSelected{
  background-color: rgb(209, 155, 89);
}

.launchBtnImg{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  /*background-color: whitesmoke;*/
  border: 1px solid lightgray;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/ 
}

.launchBtn:hover{
  border:1px solid grey;
  cursor: pointer;
}
.toolTip{
  padding: 10px;
  position: relative;
  width: auto;
  white-space: nowrap;
  word-wrap: no-wrap;
  box-shadow: 1px 1px 20px #aaa;
  border-radius: 5px;
  background-color: #fff;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  transform-style: preserve-3d;
  z-index: 200;
  font-size: 0.9em;
}

.paginatiocontainer{
    background-color: white;
}

.imgPopup{
  background-color: whitesmoke;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px lightgray;
  border-radius: 5px;
}
.imgPopupXicon{
  cursor: pointer;
}
.imgPopupTitle{
  padding: 5px;
  color: black;
  border-bottom: solid 5px lightgrey;
  font-weight: bolder;
  font-size: large;
}
.pImg{
  border: 2px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.easeload{
  opacity: 0;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.dragableItem {
  text-align: center;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  animation: zoom-in 100ms ease;
}
@keyframes zoom-in {
  0% {
    scale: 10%
  }
  100% {
    scale: 100%;
  }
}

.dragdrapbox {
  width: 200px;
  height: 100%;
  background: blueviolet;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  
  transform: rotateX(-90deg);
  transform-origin: top center;
  }
  @keyframes show {
    100% {
      opacity: 1;
      transform: none;
    }
}


.closeicon {
  position: relative;
  top: -10px;
  right: -5px;
  cursor: pointer;
}

.dropboxhover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.searchListItem{
  border-bottom: solid 1px grey;
  padding: 10px;
}
.highlightSearchListItem{
  animation: highlight 3s;
}
@keyframes highlight {
  from {
    background-color: yellow;
  }  
}

.drawingCanvas{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.chatBoatContainer{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chatBoatChatUi{
  border: solid 1px rgba(128, 128, 128, 0);
  border-radius: 5px;
}
.chatBotQuery{
  padding: 10px;
  font-weight: bold;
  background-color: lightblue;
  text-align: right;
}
.chatBotAns{
  padding: 10px;
  background-color: rgba(135, 206, 250, 0.467);
  white-space: pre-wrap; word-break: break-word;
}
.gameArea{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gameBlurBasket { 
  filter: blur(5px);
}
.gameOverLbl{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color:red;
  font-weight: bold;
}
.scoreLbl{
  position:absolute;
  padding: 2px;
  top:10px;
  left:10px;
  background-color: yellow;
}
.gameResetBtn{
  position:absolute;
  top:-40%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}
.mouseGameWarningArea{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.socketEventItemContainer{
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
.socketEventItem{
  border-bottom: solid 1px lightgray;
  padding: 5px;
}
.pexelSearchContainer{
  padding-top: 20px;
}

.shoppingItem{
  align-items: center;
  border: solid 1px lightgray;
  padding: 10px;
  cursor: pointer;
}
.shoppingCartItem{
  align-items: center;
  border: solid 1px lightgray;
  padding: 10px;
}

.shoppingProductImg{
  border: 2px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shopProductLbl{
  padding: 5px;
  font-weight: bold;
}
.textAlignCenter{
  text-align: center;
  align-items: center;
}
.chopCheckOut{
  padding-bottom: 10px;
}
.stepper-input{
  pointer-events: none;
  background-color: lightsalmon;
}
.truncateText {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  padding: 5px;
}
.shoppingProductPreview{
  background-color: lightgray;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #aaa;
  border-radius: 5px;
}
.collaborativeContainer{
  padding-bottom: 30px;
}
.chatBox, .chatBoxMe  {
  width: auto;
  height: auto;
  background-color: lightblue;
  color: black;
  padding: 20px;
  position: relative;
  margin: 40px;
}
.chatBox.arrow:after, .chatBoxMe.arrowMe:after {
  content: "";
  position: absolute;
  left: -14px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid lightblue;
  border-left: none;
  border-bottom: 15px solid transparent;
  border-radius: 5px;
}
.chatBoxMe {
  background-color: lightslategray;
  color: white;
}
.chatBoxMe.arrowMe:after {
  border-right: 15px solid lightslategray;
}
@media only screen and (min-width:240px) and (max-width: 768px){
    .chatBoxMe, .chatBox {
        display: block;
        float: none;
        margin: 40px auto;
    }
}
.chatVidLblOn{
  color: yellow;
}
.chatVidLblOff{
color: black;
}

/*AppNavigationMain.mxml*/
.appNavigationMain{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.appNavLabel{
      font-weight: bold;
      font-size: medium;
      padding-top: 10px;
      padding-bottom: 10px;
}
.appNavItemLayout{
  padding: 10px;
}


/*Apache royale welcome page [start]*/
  .royale-logo {
    width: 60px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: dropInLogo 1s ease-out 1s forwards, bounce 1s infinite 2s;
  }

  @keyframes dropInLogo {
    to {
      top: -20px;
      opacity: 1;
    }
  }

  @keyframes bounce {
    0%, 100% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(10px); }
  }
  /*Apache royale welcome page [end]*/

  .appAlert{
    color: red;
  }

.stockItemHighlight{
  animation: highlight 500ms;
}
@keyframes highlight {
  from {
    background-color: lightgreen;
  }  
}

.stockIndicatorHighlight{
  animation: highlighti 500ms;
}
@keyframes highlighti {
  from {
    opacity: 1.0;
    color:red;
  }  
}
.stockItemG{
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.stockItemT{
  padding: 10px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.stockControls{
  padding: 10px;
  border-bottom: 3px solid darkgray;
}
.streamVideoMain{
  padding: 10px;
  border-bottom: 3px solid darkgray;
}